*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("/image & Resume/LooperGroup2.png") ;

    background-repeat: no-repeat;
    background-size: 200%;
    background-color:#10131a;
    color: white;
}

nav{
    width: 100%;
    display: inline-block;
    justify-content: space-between;
}

nav ul li{
    display: inline;
    list-style: none;
}
nav ul img{
    filter: drop-shadow(2px 2px 2px rgb(255, 219, 219));
    height: 40px;
    
}
nav{
    margin: 2%;
}
#intro a{
    text-decoration: none;
}
nav ul li a{
    font-family:sans-serif;
    font-size: 12px;
    font-weight: bold;
    justify-content: space-around;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    transition: .5s ease;

}

nav ul li a:hover{
    border-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 1px 1px 10px white;
    
}

nav ul img{
    padding-right: 40%;
    
}


main div img{
    display: flex;
    height: 260px;
    margin: 0 auto;
    margin-top: 80px;
    border-radius:25px;
}
main div h3{
    background: linear-gradient(to right, #0000ff,rgb(255, 255, 255),#ff0000); -webkit-background-clip: text; -webkit-text-fill-color: transparent;
    display: flex;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 700;
    justify-content: center;
}

main div span{
    display: flex;
    justify-content: center;
    color: rgba(211, 211, 211, 0.894);
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
}
#tex{
    margin: 0 auto;
    text-align: center;
    width: 70%;
}

main div button{
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid rgb(101, 101, 101);
    color: rgb(255, 255, 255);
    background-color: rgb(38, 38, 38);
    border-radius: 12px;
    transition: .2s ease-in;
}
main div button:hover{
    color: rgb(255, 255, 255);
    border: 2px solid rgb(101, 101, 101);
    background-color: rgb(50, 50, 50);
    box-shadow: 1px 1px 10px rgb(135, 200, 246);
}


#aboutme h1{
    background: linear-gradient(to right, #2200ff,#9625c2,#ff0000); -webkit-background-clip: text; -webkit-text-fill-color: transparent;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 800;
    margin-top: 100px;
    text-align: center;
}


#images{
    margin-top: 40px;
    margin-bottom: 40px;
    display:flex;
    justify-content: center;
}

#skill h1{
    background: linear-gradient(to right, #7ba5ff,#263556); -webkit-background-clip: text; -webkit-text-fill-color: transparent;
    margin-top: 25px;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center
}
#skill img{
    height: 70px;
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.projec p{
    width: 300px;
    line-height: 19px;
    font-size: 14px;
    text-align: center;
    color: rgba(211, 211, 211, 0.894) ;
}

#project h1{
    background: linear-gradient(to right, #2200ff,#9625c2,#ff0000); -webkit-background-clip: text; -webkit-text-fill-color: transparent;

    margin-top: 100px;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;

}

#allprojects{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}
#allprojects img{
    height: 200px;
}
.projec{
    display: inline-block;
}
.projec img{
    width: 305px;
    border: 1px solid black;
    border-radius: 10px;
}
.projec h2{
    margin-top: 8px;
    font-size: 25px;
    text-align: center;
}


footer{
    align-items: center;
    justify-content: center;
}
#img img{
    height: 30px;
    margin-right: 5px;
    margin-left: 5px;
}
#img{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}
footer h1{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 8px;
    font-size: 20px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    background-color: rgb(42, 42, 42);
    width: 50%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}


#contect{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-around;
}

#cntctfrm{
    display: flex;
    flex-direction: column;
}

#name{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 13px;
    padding-right: 13px;
    width: 500px;
    background-color: #1e1e1f;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 17px;
    transition: .3s ease-in-out;
    color: rgb(195, 195, 195);
}
#name:hover{
    border: 1px solid rgb(171, 171, 171);
}
#email{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 13px;
    padding-right: 13px;
    width: 500px;
    background-color: #1e1e1f;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 17px;
    transition: .3s ease-in-out;
    color: rgb(195, 195, 195);

}
#email:hover{
    border: 1px solid rgb(171, 171, 171);
}
#text{
    line-height: 18px;
    text-decoration: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 13px;
    padding-right: 13px;
    width: 500px;
    background-color: #1e1e1f;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 17px;
    transition: .3s ease-in-out;
    color: rgb(195, 195, 195);

}
#text:hover{
    border: 1px solid rgb(171, 171, 171);
}
#cntctbtn{
    margin: 0 auto;
    width: 200px;
    padding-top: 8px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #1e1e1f;
    color: azure;
    border: 1px solid black;
    border-radius: 15px;
    transition: .3s ease-in-out;
    color: rgb(195, 195, 195);
    margin-top: 10px;
    margin-bottom: 10px;
}
#cntctbtn:hover{
    border: 1px solid rgb(171, 171, 171);
}

#cntct{
    background: linear-gradient(to right, #2200ff,#9625c2,#ff0000); -webkit-background-clip: text; -webkit-text-fill-color: transparent;
    margin-bottom: 50px;
    margin-top: 100px;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;

}
iframe{
    filter: grayscale(1) invert(1); 
    border:2px solid rgb(255, 255, 255);
    border-radius: 12px; 
}
.projec a{
    text-decoration: none;
}
#livebtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    padding-top: 5px;
    padding-bottom: 8px;
    text-align: center;
    background-color: #1e1e1f;
    color: azure;
    border: 1px solid black;
    border-radius: 10px;
    transition: .3s ease-in-out;
    color: rgb(195, 195, 195);
    margin-top: 5px;
    font-size: 15px;
}
#livebtn:hover{
    border: 1px solid rgb(171, 171, 171);
    
}


/* 
    Responsive 
    Design
*/

@media (min-width:320px) and (max-width:580px){

    #skill img{
        height: 35px;
        margin-left: 10px;
    }
    nav ul img{
        height: 30px;
        
    }
    nav ul img{
        padding-right: 0%;
    }
    nav ul li a{
        font-size: 8px;
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 5px;
        border: 1px solid rgb(255, 255, 255);
        justify-content: space-between;
        text-decoration: none;
        margin-right: 2%;
            
        
        
    
    }
    nav ul img{
        margin-right: 10%;
    }
    

    #allprojects img{
        height: 100px;
    }
    
    footer h1{
        width: 70%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 12px;
    }
    .projec h2{
        margin-top: 8px;
        font-size: 15px;
    }
    main div span{
        color: rgba(211, 211, 211, 0.894);
        margin-top: 15px;
        font-size: 15px;
        text-align: center;
    }
    main div h3{
        font-size: 30px;
    }
    #skill h1{
        font-size: 30px;
    }
    #project h1{
        font-size: 35px;
    }
    #cntct{
        font-size: 35px;
    }
    #aboutme h1{
        font-size: 35px;
    }
    body{
        background-size: 380%;
        background-repeat:repeat;
    }
    #tex{
        width: 95%;
    }
    #contect{
        display: flex;
        flex-direction:column ;
    }
    #name{
        width: 90%;
    }
    #email{
        margin-top: 0;
        width: 90%;
    }
    #text{
        margin: 0 auto;
        width: 90%;
    }
    figure{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    iframe{
        margin-top: 20px;
        width: 95%;
        height: 200px;
    }
    .projec p{
        width: 150px;
        line-height: 13px;
        font-size: 8px;
        text-align: center;
        color: rgba(211, 211, 211, 0.894) ;
    }

    #livebtn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        padding-top: 3px;
        padding-bottom: 5px;
        text-align: center;
        background-color: #1e1e1f;
        color: azure;
        border: 1px solid black;
        border-radius: 7px;
        transition: .3s ease-in-out;
        color: rgb(195, 195, 195);
        margin-top: 1px;
        font-size: 10px;
        font-weight: 600;
    }
    .projec img{
        width: 150px;
        border: 1px solid black;
        border-radius: 10px;
    }
}
@media (min-width:580px) and (max-width:1350px){
    nav ul li a{
        font-size: 10px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 5px;
        border: 1px solid rgb(255, 255, 255);
        justify-content: space-between;
        text-decoration: none;
        margin-right: 3%;
    
    }
    nav ul img{
        margin-top: 5px;
        padding-right: 15%;
    }
    #contect{
        display: flex;
        flex-direction: column;
    }
    figure{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    iframe{
        margin-top: 20px;
        width: 75%;
        height: 350px;
    }
    footer h1{
        width: 70%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 12px;
    }
    #tex{
        width: 95%;
    }
    #skill img{
        height: 50px;
        margin-left: 15px;
    }
    .projec img{
        width: 295px;
        border: 1px solid black;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .projec p{
        font-size: 13px;
    }
}
